.App {
  text-align: center;
  border: 1px solid burlywood;
  width: 300px;
  margin: auto;
}
.itemdiv{
  background-color: greenyellow;
  padding: 10px;
  font-size: 15px;
  width: 250px;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.inp{
  padding: 10px;
  border: 1px solid antiquewhite;
  width: 250px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
