.pagination{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 650px;
}
.nameh1{
    font-size: 40px;
    margin-top: 20px;
    color: firebrick;
}
.pagination button{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: rgb(132, 215, 243);
}
.functionality{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.sortbuttons{
    display: flex;
    gap: 20px;
}
.sortbuttons button{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: rgb(132, 215, 243);
}
.Ratingbuttons{
    display: flex;
    gap: 20px;

}
.Ratingbuttons button{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: rgb(132, 215, 243);
}
.Payment_Method{
    display: flex;
    gap: 20px;
}
.Payment_Method button{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: rgb(132, 215, 243);
}
.showData{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-gap: 2.5%;
    margin-left: 50px;
    margin-top: 40px;
    font-size: 18px;
}