.hunger_games{
    font-size: 40px;
    color: rgb(227, 66, 90);
}
.restorent_main{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.resturant_rating{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-left: 50px;
}
.resturant_rating button{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    background-color:lavenderblush;
    font-weight: 600;
}
.payment_method{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-left: 50px;
}
.payment_method button{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    background-color:lavenderblush;
    font-weight: 600;
}
.sort_function{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-left: 50px
}
.sort_function button{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    background-color:lavenderblush;
    font-weight: 600;
}
.cash_method{
    width: 50px;
}